@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* My CSS Reset */
*{
	margin: 0;
	padding: 0;
	}

*, *:after, *:before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #ADDEF4;
    font-family: 'Varela Round', sans-serif;
    color: white;
}


/* ------------------------------------------ Navigation ------------------------------------------ */

.navigation{
    height: 20vh;
    display: flex;
}

.navigation img{
    height: 55%;
    margin: 10px;
    position: relative;
    right: -7%;
}

.navigation .logo-title{
    font-size: 60px;
    position: relative;
    right: -8%;
    top: 22%;
}

.navigation .login-button {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border: 3px white solid;
    border-radius: 50px;
    height: 60px;
    width: 150px;
    position: relative;
    right: -30%;
    top: 20%;
    margin: 10px;
}

.navigation .signup-button {
    color: #707070;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    border-radius: 50px;
    height: 60px;
    width: 200px;
    position: relative;
    right: -30.5%;
    top: 25%;
}

a:hover, a:active {
  background-color: #707070;
  }
  


/* ----------------------------------------------------------------------------------- */


.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  
h1{
    font-size: 100px;
    margin: 10px;
    position: relative;
    top: -30px;
    z-index: 5;
}

p{
    font-size: 36px;
    margin: 10px;
    position: relative;
    top: -30px;
    z-index: 5;
}

.main-section {
  background: transparent;
  max-width: 500px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.add-section {
  width: 100%;
  background: #fff;
  margin: 0px auto;
  padding: 10px;
  border-radius: 5px;
}

.add-section input {
  display: block;
  width: 95%;
  height: 40px;
  margin: 10px auto;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 5px;

}

.add-section button {
  display: block;
  width: 95%;
  height: 40px;
  margin: 0px auto;
  border: none;
  outline: none;
  background: #0088FF;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-section button:hover {
  box-shadow: 0 2px 2px 0 #ccc, 0 2px 3px 0 #ccc;
  opacity: 0.7;
}

.add-section button span {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
}

#errorMes {
  display: block;
  background: #f2dede;
  width: 95%;
  margin: 0px auto;
  color: rgb(139, 19, 19);
  padding: 10px;
  height: 35px;
}

.show-wish-section {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
}

.wish-item {
  width: 95%;
  margin: 10px auto;
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
  border-radius: 5px;
}

.wish-item h2 {
  display: inline-block;
  padding: 5px 0px;
  font-size: 17px;
  color: #555;
}

.wish-item small {
  display: block;
  width: 100%;
  padding: 5px 0px;
  color: #888;
  padding-left: 30px;
  font-size: 14px;
}

.remove-wish {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  color: rgb(139, 97, 93);
  text-decoration: none;
  text-align: right;
  padding: 0px 5px 8px 0px;
  border-radius: 50%;
  transition: background 1s;
  cursor: pointer;
}

.remove-wish:hover {
  background: rgb(139, 97, 93);
  color: #fff;
}

.checked {
  color: #999 !important;
  text-decoration: line-through;
}

.wish-item input {
  margin: 0px 5px;
}

.empty {
  font-size: 16px;
  text-align: center;
  color: #cccc;
}

  /* ------------------------------------------ Background Circle ------------------------------------------ */

.circle1{
    height: 385px;
    width: 770px;
    background-color: white;
    border-radius: 1540px 1540px 0px 0px ;
    opacity: 0.3;
    position: fixed;
    bottom:-3%;
    left: -2%;
    z-index: 1;
}

.circle2{
    height: 615px;
    width: 1230px;
    background-color: white;
    border-radius: 2460px 2460px 0px 0px ;
    opacity: 0.3;
    position: fixed;
    left: 30%;
    bottom:-3%;
    z-index: 2;
}